
@{
    ViewBag.Title = "Oops!";
}

<h2>Something went wrong</h2>

We are unable to process your request, presumably because you tried to place an empty order, and/or without customer information.<br />
Please return to:<br />
@Html.ActionLink("Customer Details", "Index"), @Html.ActionLink("Order Details", "Index", "ShoppingCart"), or @Html.ActionLink("The Shop", "Index", "Movie")

