@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Spangsbjerg Kirkevej 103<br />
    6700 Esbjerg<br />
    <abbr title="Phone">P:</abbr>
    53609909
</address>

<address>
    <strong>Support:</strong><br />
    <a href="mailto:Joak0319@easv365.dk">Joak0319@easv365.dk</a><br />
    <a href="mailto:Abdi1500@easv365.dk">Abdi1500@easv365.dk</a><br />
    <a href="mailto:Jose3770@easv365.dk">Jose3770@easv365.dk</a><br />
</address>