@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Our online movie store!</h1>
    <p class="lead">We hope that you will enjoy our wide selection of movies, we certainly do. Go on now, take a peek.</p>
    <p><a href="/Movie" class="btn btn-primary btn-large">Come inside &raquo;</a></p>
</div>