@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="~/Checkout/CompleteCheckout" class="col-md-12">
    Enter your email if you are a returning customer: <input type="email" class="form-control" name="CustomerMail" value="">
    <input type="submit" value="Submit" />
</form>
Or press this link to enter your details, if you are a new customer.
@Html.ActionLink("Fill out form", "AddCustomer")
