@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a school project aimed at creating an online movie store. Don't really know what else to tell ya, bub.</p>
