@{
    ViewBag.Title = "Index";
}

<h1>MovieStore manager</h1>
<tr>
    <p>@Html.ActionLink("Manage movies","Movies", null, new { @class ="btn btn-primary btn-lg"})</p>
    <p>@Html.ActionLink("Manage customers", "Customers", null, new { @class = "btn btn-primary btn-lg" })</p>
</tr>